@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400&family=Poppins:wght@500&display=swap");


#header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.store-front-detail {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  max-width: 100%;
}
.store-front-details-container {
  /* border: 1px solid red; */
  max-width: 50%;
}
#store-front-details-images {
  width: 500px;
  height: 600px;
}
.seller-details {
  /* border: 1px solid red; */
  max-width: 50%;
  
}
.item-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family:'Poppins', sans-serif;
  border-bottom: 1px solid #dedede;
  margin-top: 20px;
}
.description {
  text-align: end
}
.seller-details-profile {
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  background: #f28211;
  height: 50px
}
#buy-now-button {
  font-family:'Poppins', sans-serif;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}
/* .item-details {
  display: flex;
  justify-content: space-between;
  font-family:'Poppins', sans-serif;
  border-bottom: 1px solid #dedede;
  margin-top: 20px;
}  */

/* #item-description {
  margin: 100px;
} */