@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400&family=Poppins:wght@500&display=swap");

.admin-store-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  font-family:'Poppins', sans-serif;
  margin-top: 20px;
  max-width: 100%;
}

.admin-store-front {
  text-align: center;
}

.admin-store-delete-button {
  border: none;
  background: transparent;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  font-family:'Poppins', sans-serif;
  width: 100%;
}
#view-store-details {
  display: flex;
  justify-content: space-between;
}
#view-store-details {
  margin-left: 25px;
  margin-right: 25px;
}

.favorite-image {
  margin-top: 80px;
}

.favorite-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.favorite-image-container {
  display: grid;
}
.favorite-delete-button {
  margin-top: 20px;
  justify-content: end;
}