@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400&family=Poppins:wght@500&display=swap");

.favorite-image {
  margin-top: 50px;
}

.favorite-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  place-items: center;
}
.favorite-image-container {
  display: grid;
}
.favorite-delete-button {
  margin-top: 20px;
  justify-content: end;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .favorite-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    place-items: center;
  }
}
@media (max-width: 960px) {
  .favorite-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    place-items: center;
  }
}
@media (max-width: 700px) {
  .favorite-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    place-items: center;
  }
}