@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400&family=Poppins:wght@500&display=swap");

.upload-images-container {
  margin-top: 100px;
  max-width: 100%;
}
 #upload-image-text {
  font-family:'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 80px;
 }
.upload-images-input-container {
  display: flex;
  justify-content: center;
}
.upload-images-input {
  font-family:'Poppins', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dedede;
}

.steps {
  text-align: center;
  font-family:'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
}


input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
.upload-images-label {
  color: black;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.image-component-images-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  place-items: center;
}
.image-container {
  margin-top: 15px;
}
.image-component {
  display: grid;
  justify-content: cetner;
}


.image-button {
  font-size: 18px;
  cursor: pointer;
  font-family:'Poppins', sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  width: 100%;
  padding: none;

}
#upload-image-button {
  font-family: 'Poppins', sans-serif;
  background: none;
  border: none;
  font-size: 14px;
}
#upload-image-button:hover {
  font-weight: bold;
}

#finished-button {
  font-family: 'Poppins', sans-serif;
  background: none;
  border: none;
  font-size: 14px;
  margin-top: 60px;
 
}

.finished-button-container {
  display: flex;
  justify-content: center;
}

#finished-button:hover {
  font-weight: bold
}

@media (max-width: 1300px) {
  .image-component-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    place-items: center;
  }
}
@media (max-width: 960px) {
  .image-component-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    place-items: center;
  }
}
@media (max-width: 700px) {
  .image-component-images-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    place-items: center;
  }
}